html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.jumbotron {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  font-weight: bold;
  border-radius: 0px;
}

.jumbotron h1,
.jumbotron>p {
  color: white;
  font-weight: bold;
}

#portfolio,
#fun-side-projects,
#methodology {
  margin-left: 32px;
}

.methodology {
  display: flex;
  margin: 32px;
}

#fun-side-projects {
  color: white
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}

.text {
  width: 70%;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 25px;
}

sup {
  font-size: 0.5em;
}

.model {
  width: 100%;
}

.card-table {
  margin-left: 32px;
}

.card {
  display: inline-block;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 32px;
  margin-right: auto;
  width: 286px;
  height: 380px;
  border: 0px;
}

.card:hover {
  transform: scale(1.02);

}

.aa {
  height: 160px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.card-img-top {
  object-fit: cover;
}

.lead {
  position: absolute;
  bottom: 5px;
}

.blue-bg {
  padding-top: 20px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

/* hover effect on contact tiles*/
.fa:hover {
  scale: 1.1;
  opacity: 1;
}

/* color for each brand */

.fa-linkedin {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background-color: black;
  color: white;
}

.footer {
  width: 100%;
  background-color: #f5f5f5;
}